body {
    font-family: Arial, Helvetica, sans-serif;    
}

.container {
    align-items: center;
}

.title {
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 25px 0 10px 0;
}

.form-artist-query {
    align-items: center;
    justify-content: center;
    display: flex;
}

.form-artist-query label {
    padding-right: 10px;
    text-align: left;
}

.message {
    font-style: italic;
    text-decoration: underline;
    color: red;
    text-align: center;
}

.submit {
    text-align: center;
    margin-top: 5px;
}

.btn {
    text-align: center;
    margin-top: 40px;
    width: 200px;
    height: 50px;
}

.success {
    text-align: center;
    margin-top: 200px;
}