<nav class="navbar">
    <div class="container-fluid">
        <div class="col-1"></div>
        <div class="col-9">
            <a class="nav-link active" aria-current="page" href="/">Home</a>
        </div>          
        <div class="col-2">
            <div class="dropdown mx-auto">
                <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle"
                    id="dropdown-user" data-bs-toggle="dropdown" aria-expanded="false">
                    <strong class="text-secondary">sandromesi</strong>
                    <img src="https://avatars.githubusercontent.com/u/62498755?v=4" alt="" width="32" height="32"
                        class="rounded-circle">
                </a>
                <ul class="dropdown-menu dropdown-menu-dark text-small shadow " aria-labelledby="dropdown-user">
                    <li><a class="dropdown-item" href="#">Profile</a></li>
                    <li><a class="dropdown-item" href="#">Account</a></li>
                    <li><a class="dropdown-item" href="#">Settings</a></li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li><a class="dropdown-item" href="#">Sign out</a></li>
                </ul>
            </div>
        </div>
    </div>
</nav>